 <h1>show</h1>

 <ul>
   <li>Title: <%= @new_task.title %></li>
   <li>Description: <%= @new_task.description %></li>
   <li>Completion status: <%= @new_task.completion_status %></li>
   <li>Completed at: <%= @new_task.completed_a %></li>

 </ul>
